body {
    background: black;
}

#mainCanvas {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -442.5px;
    margin-top: -250px;
    border: 3px solid white;
    background: #3498db;
}